<a href="/">
  <h1>End The Auction</h1>
</a>
<div class="graphic-separator">
  <hr/>
  <svg class="graphic" src="/images/gavel.svg"/>
  <hr/>
</div>
<h2>
  Event fundraising is not broken. <br/>
  Charity auctions are. <br/>
  It's time to end the auction.
</h2>
