{% extends '../layouts/base.html' %}

{% block header %}
  {% parent %}
  <h2>
    Event fundraising is not broken. <br/>
    Charity auctions are. <br/>
    It's time to end the auction.
  </h2>
{% endblock %}
{% block content %}
<section>
  {% marked %}
  If you’re a development director, event planner, nonprofit board member who has ever planned a fundraising auction, you’re going to want to hear what we have to say. We’ll start at the end: **fundraising auctions are broken**. Special events help build strong relationships with both existing and prospective donors. Auctions are preventing your events from reaching their full potential.

  We’re assembling data and insights from nonprofit events to help make 2015 the year you choose to try something new and replace your auction. Sign up below to receive every article in your inbox the moment it’s published.
  {% endmarked %}
  <div class="email-sign-up">
    <small>Launching February 2</small>
    <input type="email" placeholder="Email address" />
    <button class="success">Sign Up</button>
  </div>
  {% for post in posts %}
  <div class="post-preview {% if !post.published %}unpublished{% endif %}">
    <div class="post-date">
      <span class="post-date-month">{{post.date | date('M')}}</span>
      <span class="post-date-date">{{post.date | date('j')}}</span>
    </div>
    <div class="post-preview-content">
      <header>
        <h2>{{post.title}}</h2>
      </header>
      <p>{{post.teaser}}</p>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
